plugins:
  # Command: Assign
  - name: Assign
    description: Assigns users to issues
    config:
      max_assignments: 3
      cooldown: 1h

  # Command: Query user
  - name: Query user
    description: Queries user information
    config:
      api_endpoint: https://api.example.com/user

  # ... more plugins
