plugins:
  "Meniole/daemon-merging:compute.yml@fix/dispatch-e2e-20260127":
    with:
      approvalsRequired:
        collaborator: 1
        contributor: 1
      mergeTimeout:
        collaborator: "1 minute"
      excludedRepos: []
      allowedReviewerRoles:
        - COLLABORATOR
        - MEMBER
        - OWNER
        - NONE
