{
  "name": "Conversation rewards",
  "description": "Rewards users for engaging in issue and pull request discussions.",
  "commands": {},
  "ubiquity:listeners": ["issue_comment.created", "issue_comment.edited", "pull_request_review_comment.created"],
  "configuration":
    {
      "type": "object",
      "properties":
        {
          "rewardPerComment":
            { "type": "object", "properties": { "collaborator": { "type": "number", "default": 0.5 }, "contributor": { "type": "number", "default": 0.25 } } },
        },
    },
}
