plugins:
  - "ubiquity-os-marketplace/text-conversation-rewards@development":
    with:
      rewards:
        evmNetworkId: 100
        evmPrivateEncrypted: "UNa06aE6RYtt7r_bFw_DDKnA4BFhr8pngZAcCGUIQACrKB5HwCw2qU1ZVmMau4tKNIA8ZItc46pwH3bT7du2N45oXjfl35bb7SEm46CkJDVHF5vPe9q8AbdlipiXnW1cDE18q-GK47XvuuzpTFJ5m6UzVjpiyoArvL8"
        errc20RewardToken: "0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d"
        incentives:
          closeTaskReward:
            rewardAmount: 5
            stalenessDuration: "30 days"
          peerToPeerThreshold: 15
          originalAuthorCredit:
            percentage: 0.5
          peerRatingMultipliers:
            relevance: 1
          wordCountExponent: 0.85
          requirePriceLabel: true
          limitRewards: true
          collaboratorOnlyPaymentInvocation: true
          contentEvaluator: null
          userExtractor: null
          dataPurge:
            skipCommentsWhileAssigned: "all"
          reviewIncentivizer: null
          simplificationIncentivizer: null
          formattingEvaluator: null
          wordCountMax: 50000
        runsOn: []
        skipBotEvents: false
