allRoles: &allRoles
  - collaborator
  - contributor

plugins:
  "https://comic-bee-miserably.ngrok-free.app":
    with:
      model: "nvidia/nemotron-nano-9b-v2:free"
      models:
        - deepseek/deepseek-r1-0528:free
      openRouterBaseUrl: "https://openrouter.ai/api/v1"
      maxTokens: 100000
      maxDepth: 2
