with:
  openRouterAiModel: "deepseek/deepseek-r1-0528"
  #----------------------------
  openRouterBaseUrl: "https://openrouter.ai/api/v1"
  #----------------------------
  maxRetryAttempts: 5
  reviewInterval: "1 Day"
